
*{
    margin: 0;
    font-family: sans-serif;
}
.custom-navbar {
    background-color:black; /* Replace with your desired background color */
}
.title-head{
    font-size: 40px;
    font-family: sans-serif;
}
.end-btn{
    
}