* {
  margin: 0;
  font-family: sans-serif;
}

.nav-btn {
  background-color: #ff5733;
  color: #ffffff;
  border: none;
}

.nav-bg {
  background-color: #222222;
}

.navbar-nav li.nav-item a.nav-link {
  color: white !important;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav li.nav-item a.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.navbar-brand {
  font-family: sans-serif;
  font-size: 25px;
  color: white !important;
  transition: background-color 0.3s, color 0.3s;
}
.navbar-brand :hover {
  color: lightcyan !important;
  transition: 0.3s;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e'); /* Add your SVG image */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.btn-nav {
  font-weight: 600;
  color: #222222;
}
.btn-cl {
  color: #000 !important;
  font-weight: 600;
}
